<main class="contenedor contenedor-formularios element style">
    <h1><%= nombrePagina %></h1>
    <form action="/crear-cuenta" method="POST" class="default-form">
        <div class="campo">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" placeholder="Tu nombre">
        </div>
        <div class="campo">
            <label for="email">E-mail</label>
            <input type="email" name="email" placeholder="Tu Email">
        </div>
        <div class="campo">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Tu password">
        </div>
        <div class="campo">
            <label for="repetir">Repetir Password</label>
            <input type="password" name="repetir" placeholder="Repetir tu password">
        </div>
        <div class="campo">
            <input type="submit" class="btn btn-rosa" value="Crear Cuenta">
        </div>
    </form>
</main>