<main class="contenedor contenedor-formularios ">
    <h1> <%= nombrePagina %> </h1>

    <form action="/imagen-perfil"  method="POST" enctype="multipart/form-data" class="default-form" >
        <legend>Sube tu imagen que se mostrara junto a tu nombre y biografia</legend>
        <div class="campo">
            <label for="imagen">Imagen</label>
            <input type="file" name="imagen" >
        </div>
        <% if(usuario.imagen){ %> 
        <div class="campo">
            <label for="imagen">Imagen Actual</label>
            <img src="/uploads/perfiles/<%= usuario.imagen %>" width="400">
        </div>
        <% } else { %> 
            <p>No hay Imagen actual</p>
        <% } %>  
        
        <div class="campo enviar">
            <input type="submit" value="Subir Imegen Perfil">
        </div>
    </form>

</main>